/* Text colors */
.text-primary {
  /* color: #28a745; */
  color: #f01809;
}

.text-secondary {
  color: #0284d0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #f01809;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: #0284d0;
}

.btn-dark {
  background-color: #333;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}
